@use "./common/var.scss" as *;

.content-wrapper {
  height: 280px;
  color: $color-font-primary;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .type-icon {
    width: 80px;
    height: 80px;
  }
  .content-container {
    text-align: center;
    margin-top: 32px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .details-container {
    width: 100%;
    flex: 1;
    overflow-y: auto;
  }
}
.confirm-button {
  background: #f7f8fa;
}
